# Beginner

1) Write a Python program to find the maximum element in a list of numbers without
max functions
numbers = [10, 20, 4, 45, 99]
The maximum element is: 99

In [3]:

ls = [10,20,4,45,99]
max = ls[0]
for i in range (0,len(ls)):
    if (ls[i] > max):
        max = ls[i]

print(max)

99

2) Write a Python program to sum all the elements in a list of numbers.
a. numbers = [10, 20, 30, 40]
b. The sum of all elements is: 100

In [20]:

ls = [10,20,30,40]
sum = 0
for i in  ls:
    sum +=i    
print(s)

100

3) Write a Python program to reverse a list without reverse or slicing operator
a. numbers = [1, 2, 3, 4, 5]
b. Reversed list: [5, 4, 3, 2, 1]

In [28]:
ls = [1, 2, 3, 4, 5]
temp = 0
for i in range (0,len(ls)):
    for j in range (i+1,len(ls)):
        if ls[i]<ls[j]:
            temp =ls[i]
            ls[i] = ls[j]
            ls[j] = temp

ls

[5, 4, 3, 2, 1]

4) Write a Python program to sort a list in ascending order without sort functions

In [29]:
ls = [5,1,8,3,5,4,2,10]
temp = 0
for i in range (0,len(ls)):
    for j in range (i+1,len(ls)):
        if ls[i] > ls [j]:
            temp = ls[i]
            ls[i] = ls[j]
            ls[j] = temp 
ls

[1, 2, 3, 4, 5, 5, 8, 10]

5. Write a Python program to remove duplicates from a list while maintaining the order
of elements.
a. numbers = [1, 2, 2, 3, 4, 4, 5]
b. List after removing duplicates: [1, 2, 3, 4, 5]

In [54]:
ls = [1,2,3,3,4,2]
ls1= [] 

for i in range (len(ls)):
    if ls[i] not in ls1:
        ls1.append(ls[i])
        
        
print(d)

[1, 2, 3, 4]

6) Write a Python program to find all pairs of numbers in a list that add up to a specific
target sum.
a. numbers = [1, 2, 3, 4, 3, 5, 6] target_sum = 6
b. Pairs that add up to 6: [(3, 3), (2, 4), (1, 5)]

In [68]:
ls = [1, 2, 3, 4, 3, 5, 6]
target = 6
pairs= []
for i in range (len(ls)):
    for j in range (i+1,len(ls)):
        if (ls[i] +ls[j] == target):
            pairs.append((ls[i],ls[j]))
print(target ,":", pairs)

6 : [(1, 5), (2, 4), (3, 3)]

7) Write a Python program to flatten a nested list (list within lists) into a single list.
a. nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
b. Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
nested_list = [1, [2, 3], [4, [5, 6], 7], 8]

flattened = []

for i in nested_list:
    if type(i) == list:
        for j in i:
            if type(j) == list:
                for k in j:
                    flattened.append(k)
            else:
                flattened.append(j)
    else:
        flattened.append(i)

print("Flattened list:", flattened)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

8) Write a Python program to find the sum of the elements in a list, excluding the largest
and smallest element. Donâ€™t use max or min functions
a. numbers = [1, 2, 3, 4, 5]
b. Sum excluding the largest and smallest element: 9

In [106]:
num = [1, 2, 3, 4, 5]
small = num [0]
large = num[0]
for i in range (0,len(num)) :
    if num[i] < small :
        small = num[i]

    if num[i] > large :
        large = num[i]
print(small)
print (large)
s = 0
for i in range (len(num)):
    if (num[i]!=small and num[i]!=large):
        s+=num[i]

print(s)

1
5
9

# Intermediate

9) Write a Python program to check if a list is a palindrome (reads the same backward
as forward) using two pointer approach
a. numbers = [1, 2, 3, 2, 1]
b. True

In [119]:
ls = [1, 2, 3, 2, 1]
start = 0
end = len(ls)-1
palindrome = True 
while (start<end):
    if ls[start] != ls[end] :
        palindrome = False 
        break

    start+=1
    end-=1

print(palindrome)

True

10) Write a function to remove duplicate elements from a list.
a. numbers = [1, 2, 3, 2, 4, 5, 1, 6]
b. [1, 2, 3, 4, 5, 6]

In [123]:
ls = [1, 2, 3, 2, 4, 5, 1, 6]
ls1= [] 

for i in range (len(ls)):
    if ls[i] not in ls1:
        ls1.append(ls[i])
        
        
print(ls1)

[1, 2, 3, 4, 5, 6]

11) Find Common Elements in Two Lists
a. list1 = [1, 2, 3, 4, 5]
b. list2 = [3, 4, 5, 6, 7]
c. Result: [3, 4, 5]

In [125]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
ls = []
for i in list1:
    for j in list2:
        if i==j:
            ls.append(i)

print("commom",ls)

commom [3, 4, 5]

12) Find the Longest Word in a List
a. words = ["apple", "banana", "strawberry", "kiwi"]
b. Strawberry

In [126]:

words = ["apple", "banana", "strawberry", "kiwi"]
ls =""
for i in words:
    if len(i) >len(ls):
        ls = i

print(ls)

strawberry

# Advance

13) Find Missing Number in a List
You are given a list of n-1 numbers in the range 1 to n. One number is missing
from the sequence. Find the missing number.
a. numbers = [1, 2, 4, 5, 6]
b.

In [10]:
n =[ 1, 2, 4, 5, 6]
a = n[0]
for i in n:
    if a != i :
        print(a)
        break
    a+=1

3

14 ) Find the First Non-Repeating Element
Given a list of integers, find the first element that appears only once.
a. numbers = [4, 5, 1, 2, 0, 5,4, 2]
b. Expected Output: 1

In [28]:
ls = [4, 5, 1, 4,2,5, 0, 2]
for i in ls :
    if ls.count(i) == 1 :
        print(i)
        break

1

15) Move All Zeros to the End
Given a list of integers, move all zeros to the end while maintaining the relative order
of non-zero elements. Donâ€™t use any inbuilt functions
a. numbers = [0, 1, 0, 3, 12]
b. [1, 3, 12, 0, 0]

In [42]:
a = [0, 1, 0, 3, 12]
b= 0
for i in range (len(a)) :
    if a[i] != 0:
        a[b],a[i] = a[i],a[b]
        b+=1

print(a)

[1, 3, 12, 0, 0]

16) Find Elements Greater Than Their Left Neighbor
a. numbers = [1, 3, 2, 6, 5, 8, 7]
b. [3, 6, 8]

In [43]:
ls =  [1, 3, 2, 6, 5, 8, 7]
ls1 = []
for i in range (0,len(ls)):
    for j in range (i+1,len(ls)):
        if ls[i]>ls[j]:
            ls1.append(ls[i])
            break

print(ls1)

[3, 6, 8]

17) Find Triplets That Sum to Zero
Given a list of numbers, find all unique triplets (a, b, c) such that a + b + c = 0.
a. numbers = [-1, 0, 1, 2, -1, -4]
b. Expected Output: [(-1, -1, 2), (-1, 0, 1)]

In [48]:
ls = [-1, 0, 1, 2, -1, -4]
target = 0
for i in range (0,len(ls)):
    for j in range (i+1,len(ls)):
        for k in range (j+1,len(ls)):
            if (ls[i] + ls[j] + ls[k] == target):
                print([(ls[i],ls[j],ls[k] )],end = "")

[(-1, 0, 1)][(-1, 2, -1)][(0, 1, -1)]